<p>This should show a list of all heroes in the system, displaying all the information from the entry captured in the view before.
    Each hero in the listing needs to be able to be deleted from the system in the event of their unfortunate demise.</p>
    <table>
      <thead>
      <tr>
        <th> Persona </th>
        <th> Alias </th>
        <th> Power ID </th>
        <th> Delete </th>
      </tr>
    </thead>

        <tr>
          <form id="newHeroForm" ng-submit="hlc.newHero()">
            <td><input ng-model = "hlc.newHero.persona" placeholder="persona"></td>
            <td><input ng-model = "hlc.newHero.alias" placeholder="alias"></td>
            <td><input ng-model = "hlc.newHero.power_id" placeholder="power_id"></td>
            <input type="submit" value="Add Hero" />
          </form>
        </tr>

      <tbody>
    <tr ng-repeat="hero in hlc.herolist">
        <td>{{hero.persona}}</td>
        <td>{{hero.alias}}</td>
        <td>{{hero.power_id}}</td>
        <td><span class="col-xs-1"><button ng-click="hlc.deleteHero(hero.id)" class="btn btn-danger">Delete</button></span></td>
    </tr>
</tbody>
    </table>
